@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-200: #9f9f9f;
  --color-base-300: #e7e7e7;
  --color-base-content: #403f3f;
  --color-primary-content: ;
  --color-secondary-content: ;
  --color-accent: #706f6f;
  --color-accent-content: ;
  --color-neutral: ;
  --color-neutral-content: ;
  --color-info: ;
  --color-info-content: ;
}

* {
  font-family: "Poppins", sans-serif;
}

a.active {
  @apply bg-base-200 font-semibold text-base-content;
}
